body{
    padding: 0%;
    margin: 0%;
}
.navbar{
    display: flex;
   justify-content: space-around;
    align-items: center;
}

.drr{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-left: 2px;

}
.gch h1{
    font-size: 14px;

}
.flch{
    
    
    width: 9px;
    height: 9px;
    margin-left: -28px;
    
}
.bt{
    background-color: #7DE0EA;
    border-radius: 13px;
    color: white;
    padding: 11px;
    border: none;
}

.wb{
    font-size: 12px;
}
.ui{
    font-size: 30px;
}
.imgg2{
    width: 165px;
    height: 85px;

}

.prr1{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.fil{
    width: 430px;
    height: 370px;
}

.partie2{
    display: flex;
    justify-content: space-between;
    margin-left: 16rem;
    margin-top: 3rem;
    align-items: center;
}

.ell{
    width: 440px;
    height: 330px;
}
.partie3{
    display: flex;
    justify-content: space-around;
}
.aa{
    margin-left: -9rem;
    margin-top: 3rem;
}

.aqa{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.div11 {
    width: 600px;
    height: 300px;
    background-color: #DEFCFF;
    border-radius: 20px;
    }
.div22{
    width: 600px;
    height: 300px;
    background-color:#a38bff;
    border-radius: 20px;

}
.dv111{
    background-color: white;
    color: #28747a;
    border: none;
}
.dv222{
    background-color: white;
    color: #28747a;
    border: none;
}
.div33{
    width: 600px;
    height: 300px;
    background-color:#C7EBE4;
    border-radius: 20px;
}
.dv22{
    background-color: #583FBC;
    color: white;
    padding: 1rem;
    border-radius: 20px;
}
.dv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
