body{
    padding: 0%;
    margin: 0%;
}
.navbar{
    display: flex;
   justify-content: space-around;
    align-items: center;
}

.drr{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-left: 2px;

}
.gch h1{
    font-size: 14px;

}
.flch{
    
    
    width: 9px;
    height: 9px;
    margin-left: -28px;
    
}
.bt{
    background-color: #7DE0EA;
    border-radius: 13px;
    color: white;
    padding: 11px;
    border: none;
}

.wb{
    font-size: 12px;
}
.ui{
    font-size: 30px;
}
.imgg2{
    width: 165px;
    height: 85px;

}

.prr1{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.fil{
    width: 430px;
    height: 370px;
}

.partie2{
    display: flex;
    justify-content: space-between;
    margin-left: 16rem;
    margin-top: 3rem;
    align-items: center;
}

.ell{
    width: 440px;
    height: 330px;
}
.partie3{
    display: flex;
    justify-content: space-around;
}
.aa{
    margin-left: -9rem;
    margin-top: 3rem;
}


